@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

:root {
    --green: #60BB28;
    --red: #CF3031;
    --yellow: #FFBD48;
    --pink: #FFD4C9;
    --white-200: #FFEAE5;
    --white-300: #FAFAFA;
    --white: #FFF;
    --gray: #616161;
    --gray-200: #2E2E2E;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

html {
    font-size: 62.5%;
}

body {

    background-color: var(--white);
    color: var(--gray-200);
    font-size: 1.6rem;
}

h1 {
    font-weight: 600;
    font-size: 9.6rem;
    line-height: 12.1rem;
    color: var(--white);
}

h2 {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.5rem;
}

.btn {
    background-color: var(--yellow);
    border-radius: 2.5rem;
    color: var(--gray-200);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .4s ease;
}

.btn:hover {
    opacity: 0.88;
}

/* Hero section */
.bg-hero {
    background: url('./assets/img/pizza-background.png') no-repeat center;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-color {
    color: var(--yellow);
}

.red-color {
    color: var(--red);
}

.green-color {
    color: var(--green);
}


/* Main section */
main {
    position: relative;
    padding-bottom: 20rem;
}

.plant, .leaf,
.fish, .mashroom,
.pepper, .tomato {
    position: absolute;
}

.plant {
    top: -6rem;
    left: 0;
    filter: drop-shadow(0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.24));
}

.leaf {
    right: 33rem;
    bottom: 35rem;
    filter: drop-shadow(0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.45));
}

.fish {
    top: 8rem;
    left: 62rem;
    filter: drop-shadow(0.4rem 0.2rem 0.6rem rgba(0, 0, 0, 0.43));
}

.mashroom {
    top: 8.7rem;
    right: 43rem;
    filter: drop-shadow(0.4rem 0.1rem 0.6rem rgba(0, 0, 0, 0.25));
}

.pepper {
    left: 10rem;
    bottom: 8rem;
}

.tomato {
    right: 35rem;
    bottom: -6rem;
    z-index: 9999;
}

.container {
    padding: 14rem 1.5rem 2rem 1.5rem;
    max-width: 112rem;
    margin: 0 auto;
    height: 100%;
}

.container h2 {
    text-align: center;
}

.best-seller {
    margin-top: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    justify-content: space-between;
}

/* About section */
.about {
    background-color: var(--white-300);
    position: relative;
    height: 100%;
    padding: 5rem 0;
}

.about .container {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9rem;
}

.about-image-container {
    background: url('assets/img/about-restaurant.png') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50rem;
    height: 50rem;
    border-radius: 0.6rem;
    position: relative;
}

.about-image-container .about-pizza-image {
    position: absolute;
    top: 2.5rem;
    left: -7rem;
    width: 14rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0 0.3rem 0.3rem rgba(159, 62, 62, 0.25);
    border-radius: 50%;
}

.about-info {
    max-width: 56rem;
    padding: 0 1.5rem;
}

.about-info h2 {
    text-align: left;
}

.about-info p {
    margin-top: 2.5rem;
    line-height: 2.6rem;
    color: var(--gray-200);
}

.read-more-btn {
    padding: 1.2rem 3.6rem;
    margin-top: 2.5rem;
    font-size: 1.6rem;
}

.about-pizza-taker-image {
    position: absolute;
    right: 50rem;
    bottom: 5rem;
}

.about-pizza-taker-image img {
    position: absolute;
    bottom: 0;
}


/* Media Queries */
@media (max-width: 1629px) {
    .fish {
        left: 20rem;
    }

    .mashroom,
    .tomato {
        right: 20rem;
    }

    .pepper {
        left: 5rem;
    }

    .leaf {
        display: none;
    }
    
    .about-pizza-taker-image {
        right: 30rem;
    }
}

@media (max-width: 1490px) {
    .pepper {
        display: none;
    }
}

@media (max-width: 1250px) {
    .about-pizza-taker-image {
        display: none;
    }
}

@media (max-width: 1055px) {
    main {
        padding-bottom: 7.9rem;
    }
    
    .tomato,
    .about-image-container .about-pizza-image {
        display: none;
    }

    .best-seller {
        row-gap: 11.5rem;
    }

    .about .container {
        flex-direction: column;
        gap: 4rem;
    }

    .about-image-container {
        width: 100%;
    }

    .about-info {
        max-width: 100%;
    }
}

@media (max-width: 799px) {
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 2.4rem;
    }
    
    .container {
        padding: 8rem 1.5rem 2rem 1.5rem;
        max-width: 112rem;
        margin: 0 auto;
        height: 100%;
    }

    .best-seller {
        justify-content: space-around;
    }

    .fish,
    .mashroom,
    .about-image-container {
        display: none;
    }

    .about-info,
    .about-info h2  {
        text-align: center;
    }

    .about-info {
        margin-top: 3.2rem;
    }
}

@media (max-width: 650px) {
    .bg-hero {
        height: 50vh;
    }

    h1 {
        font-size: 7.2rem;
    }
    
    .plant {
        display: none;
    }
}